@use '../helpers' as *;

.alt-about {
    &__main-title {
        text-align: center;
        margin: rem(40) 0;

        @include tablet {
            margin: rem(30) 0;
        }

        @include mobile {
            margin: rem(20) 0;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        min-height: rem(200);
        padding: rem(40);
        border-radius: rem(55);
        row-gap: rem(40);

        @include laptop-above {
            height: rem(400);
        }

        @include mobile {
            padding: rem(30);
        }

        & p {
            @include fluid-text(20, 16)
        }

        &[data-bg="main"] {
            position: relative;
            grid-column: span 2;
            background: url(./images/alt-about-bg-main.png) 100%/cover no-repeat;

            & p {
                max-width: rem(570);

                @include laptop {     
                    &:nth-child(4) {
                        max-width: rem(400);
                    }
                }

                @include tablet {
                    display: none;
                }
            }
        }

        &[data-bg="accent-light"] {
            background: url(./images/alt-about-bg-accent-light.png) 100%/cover no-repeat;

            & p {
                color: var(--color-accent);
            }
        }

        &-button {
            max-width: fit-content;
            padding: rem(20) rem(30);
            gap: rem(7);
            line-height: .95;

            &-more {
                position: absolute;
                max-width: fit-content;
                padding: rem(20) rem(30);
                line-height: .95;
                bottom: rem(40);
                right: rem(40);

                @include mobile {
                    bottom: rem(30);
                    right: rem(30);
                }
            }
        }
    }

    &__paragraph {
        display: flex;
        gap: rem(14);

        &-icon {
            @include tablet {
                display: none;
            }
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
    }
}