@use '../helpers' as *;

.filters {
    &__title {
        text-align: center;
        padding: rem(40);
        margin-bottom: rem(14);

        @include mobile {
            padding: rem(30);
        }
    }

    &__body {
        position: relative;
        display: flex;
        flex-direction: column;
        column-gap: rem(16);
    }

    &__panel {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        row-gap: rem(12);

        &-header {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: end;
            column-gap: rem(24);
            padding: rem(20) rem(30);
            cursor: pointer;

            @include tablet {
                padding: rem(20)
            }

            &-title {
                @include fluid-text(18, 14);
            }

            &-btn {
                @include square(rem(40));

                position: relative;
                cursor: pointer;
                z-index: 102;

                &::before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: url(./icons/filters-icon.svg) center no-repeat;
                    transition: var(--transition-duration);
                }

                &.is-active {
                    background-color: var(--color-white);
                    border-radius: 50%;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 50%; 
                        height: rem(2);
                        border-radius: rem(50);
                        background-color: var(--color-dark);
                        transform: translate(-50%, -50%) rotate(45deg);
                        transform-origin: center;
                        transition: var(--transition-duration);
                    }
                
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 50%; 
                        height: rem(2);
                        border-radius: rem(50);
                        background-color: var(--color-dark);
                        transform: translate(-50%, -50%) rotate(-45deg);
                        transform-origin: center;
                        transition: var(--transition-duration);
                    }
                }
            }
        }

        &-overlay {
            position: fixed;
            display: none;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4); 
            z-index: 100;

            &.is-active {
                display: flex;
            }
        }

        &-groups {
            position: absolute;
            display: none;
            top: 0;
            right: 0;
            width: rem(600);
            padding: rem(30);
            background-color: var(--color-gray);
            z-index: 101;

            &.is-active {
                display: flex;
                flex-direction: column;
                row-gap: rem(10);
            }

            &--title {
                margin-bottom: rem(20);
            }

            @include tablet {
                padding: rem(28) rem(20) rem(20) rem(20);
            }

            @include mobile {
                width: 100%;
                padding: rem(28) rem(20) rem(20) rem(20);
            }
        }

        &-group {
            display: flex;
            flex-direction: column;
            row-gap: rem(8);
            padding: rem(30) rem(16);

            & p {
                margin-bottom: rem(15);
            }
        }
    }

    &__catalog {
        display: flex;
        flex-direction: column;
        flex: 3;

        &-title {
            @include fluid-text(28, 20);

            padding: rem(30);
        }

        &-item {
            min-width: 0;
        }
    }

    &__no-result {
        text-align: center;
        padding: rem(150);
        background-color: var(--color-form-button);
        color: var(--color-accent);
        border-radius: rem(55);

        @include tablet {
            margin-top: rem(20);
        }

        @include mobile {
            padding: rem(50);
        }
    }

    &__show-all {
        @include fluid-text(24, 18);

        width: 100%;
        justify-content: center;
        padding: rem(40) 0;

        @include tablet-above {
            margin-top: rem(40);
        }

        @include mobile {
            padding: rem(25) 0;
        }

        &[data-js-show-toggle] {
            display: inline-block;
            text-align: center;

            &::after {
                content: attr(data-text-more);
            }

            &.is-toggled::after {
                content: attr(data-text-less);
            }
        }
    }
}