@use '../helpers' as *;

.options {
    &__title {
        text-align: center;
        padding: rem(40) 0;

        @include mobile {
            padding: rem(30) 0;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__slider {
        position: relative;
        overflow: hidden;

        &-list {
            display: flex;
            gap: rem(20);
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
            margin: 0;
            padding: 0;

            @include tablet {
                gap: rem(16);
                margin-bottom: rem(20);
            }
        }

        &-item {
            flex: 0 0 auto;
            scroll-snap-align: start;
            box-sizing: border-box;
            min-width: 0;
            width: calc((100% - rem(40)) / 3);

            @include tablet {
                width: calc((100% - rem(20)) / 2);
            }

            @include mobile {
                width: calc(100% - rem(20));
            }
        }

        &-pagination {
            display: flex;
            justify-content: center;
            gap: rem(10);
            margin: rem(30) 0;
            
            &-dot {
                @include square(rem(20));
                
                border: none;
                border-radius: 50%;
                cursor: pointer;
                background-color: var(--color-accent-light);
                transition: var(--transition-duration);

                &.is-active {
                    background-color: var(--color-accent);
                }
            }
        }
    }

    &__show-all {
        justify-content: center;
        padding: rem(40) 0;

        @include tablet {
        }

        @include mobile {
            padding: rem(25) 0;
        }
    }
}