@use '../helpers' as *;

.reviews {
    margin-top: rem(40);
    scroll-margin-top: rem(350);

    @include tablet {
        margin-top: rem(30);
    }

    &__title {
        text-align: center;
        padding: rem(40) 0;

        @include tablet {
            padding: rem(30) 0;
        }
    }

    &__slider {
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        padding: 0 rem(40);
    }

    &__slider-list {
        display: flex;
        gap: rem(20);
        margin: 0;
        padding: 0;
        width: 100%;
        transition: transform 0.3s ease;
        transform: translateX(0);
    }

    &__slider-item {
        flex: 0 0 auto;
        max-width: rem(420); // Десктоп: 3 элемента

        @include tablet {
            max-width: rem(380); // Планшет: 2 элемента
        }

        @media (max-width: 780px) {
            max-width: 100%;
        }
    }

    &__slider-pagination {
        display: flex;
        justify-content: center;
        gap: rem(10);
        margin: rem(30) 0;

        &-dot {
            @include square(rem(20));
            border: none;
            border-radius: 50%;
            cursor: pointer;
            background-color: var(--color-accent-light);
            transition-duration: var(--transition-duration);

            &.is-active {
                background-color: var(--color-accent);
                scale: 1.2;
            }
        }
    }
}