@use '../helpers' as *;

.service-card {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(30);
    min-height: rem(480);
    border-radius: rem(30);
    transition-duration: var(--transition-duration);

    &[data-bg="bike"]{
        background: url(./images/services-bg-bike.png) 100%/cover no-repeat;
    }
    &[data-bg="supboard"]{
        background: url(./images/services-bg-supboard.png) 100%/cover no-repeat;
    }
    &[data-bg="samokat"]{
        background: url(./images/services-bg-samokat.png) 100%/cover no-repeat;
    }
    &[data-bg="fat-bike"]{
        background: url(./images/services-bg-fatbike.png) 100%/cover no-repeat;
    }
    &[data-bg="extra"]{
        background: url(./images/services-bg-extra.png) 100%/cover no-repeat;
    }

    @include hover {
        transform: scale(.98);
    }

    @include laptop {
        min-height: rem(350);
    }
    
    &__link {
        max-width: fit-content;
        padding: rem(20) rem(20);

        &-extra {
            align-self: end;
            column-gap: rem(10);
            line-height: .95;
            padding: rem(20) rem(30);
        }
    }
}