@use '../helpers' as *;

.services {
    &__title {
        text-align: center;
        margin: rem(50) 0 rem(30) 0;

        @include mobile {
            margin: rem(30) 0 rem(15) 0;
        }
    }

    &__item {
        &-extra {
            grid-column: span 2;
        }
    }
}