@use 'helpers' as *;

html { 
    will-change: scroll-position;

    &.is-lock {
        overflow: hidden;
    }
}

body {
    @include fluid-text(20, 16);

    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    color: var(--color-dark);
    background-color: var(--color-gray-bg);
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;

    @include tablet-above {
        zoom: 0.85;
    }
}

main {
    flex-grow: 1;
}

select {
    @include mobile {  
        -webkit-appearance: none; 
        -moz-appearance: none;
        appearance: none;
        color: var(--color-dark) !important;

        input:-webkit-autofill,
        select:-webkit-autofill {
            -webkit-text-fill-color: var(--color-dark) !important;
        }
    }
}

h1, .h1,
h2, .h2,
h3, .h3 {
    color: var(--color-accent);
    font-weight: 500;
    overflow-wrap: break-word;
    word-break: break-word;
}

h1, .h1 {
    @include fluid-text(88, 38);
    
    line-height: .92;
}

h2, .h2 {
    @include fluid-text(60, 24); 

    line-height: .98;
}

h3, .h3 {
    @include fluid-text(40, 28); 

    line-height: 1;
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: var(--color-white);
}

.no-wrap {
    white-space: nowrap;
}

.ymaps-2-1-79-map {
    width: 100%;
    height: 100%;
}